/Droid/obj/
/iOS/bin/
/iOS/obj/
/packages/
*.dll

*.mdb

*.apk

*.stamp

*.jar

Droid/obj/Debug/_dex_stamp

*.flag

*.class

Droid/obj/Debug/android/bin/packaged_resources

Droid/obj/Debug/android/bin/resources_and_assemblies

*.java

*.jm

*.mj

*.props

*.cache

/TicketToTalk.userprefs
